<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyPrint - Accueil</title>
    <link rel="stylesheet" href="/static/home_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="profil">
            <img src="https://avatars.dicebear.com/api/initials/<%= nickname %>.svg" alt="pp">
            <div class="text">
                <h1>Bienvenue <%= nickname %> !</h1>
                <p>Ton imprimante : <%= printer %> </p>
            </div>
        </div>
    </div>

</body>
</html>