<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EazyPrint - Installation</title>
    <link rel="stylesheet" href="/static/install_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="install_wrapper">
        <div class="install_form">
            <h1>Bienvenue sur l'installation de EasyPrint.</h1>
            <p>T'en fais pas, c'est pas long !</p>
            <form action="/install" method="post">
                <input type="text" name="nickname" id="nickname" placeholder="Nom d'utilisateur" required>
                <input type="text" name="printer" id="printer" placeholder="Nom de ton imprimante" required>
                <input type="submit" value="Go !" id="go">
            </form>
            <p>(C'étais pas long, t'as vu !)</p>
        </div>
    </div>
</body>
</html>